1
2
3
4
5
6
7
8
9

target
bennysbiggestband_html
bennysbiggestband.pdf

original_problem/bennysbiggestband/data/sample/*
!original_problem/bennysbiggestband/data/sample/1.in
!original_problem/bennysbiggestband/data/sample/1.ans
!original_problem/bennysbiggestband/data/sample/2.in
!original_problem/bennysbiggestband/data/sample/2.ans

original_problem/bennysbiggestband/data/secret/*
!original_problem/bennysbiggestband/data/secret/3.in
!original_problem/bennysbiggestband/data/secret/3.ans
!original_problem/bennysbiggestband/data/secret/4.in
!original_problem/bennysbiggestband/data/secret/4.ans
!original_problem/bennysbiggestband/data/secret/5.in
!original_problem/bennysbiggestband/data/secret/5.ans
